.nav__ol {
    width: 450px;
    margin-right: 100px;
}
.header_img {
    margin-left: 100px;
}
.hero__titulo {
    font-size: 3rem;
    padding: 2px;
}
.hero__img {
    height: 500px;
    margin: 0px;
}
.hero__img--1 { 
    height: 500px;
}
.hero__img--2 { 
    height: 500px;
}
.hero__img--3 { 
    height: 500px;
    background-image: url("../assets/img/Menu_el_taco_en_llamas.jpg");
}
/* .hero__contacto {
    display: inline-block;
    width: 100%;
} */
.hero__h3 {
    max-width: 100%;
    font-size: 2.5rem;
}
.hero__tel {
    margin-top: 5px;
}
.hero__hover {
    margin: 5PX;
}
h1 {
    font-size: 2.5rem;
}
.menu__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.menu__title {
    font-size: 4rem;
    height: 80px;
}
.footer {
    font-size: 1.4rem;
}